<div class="checkout-progress">
  <div class="container cc-small">
    <div class="progress-wrapper">
      <div class="step">
        <div class="step-label active">Checkout</div>
      </div>
      <div class="line line-active arrow-active"></div>
      <div class="step">
        <div class="step-label">Bonus Deals</div>
      </div>
      <div class="line line-inactive arrow-inactive"></div>
      <div class="step">
        <div class="step-label">Summary</div>
      </div>
    </div>
  </div>
</div>
